<footer class="py-3 my-4 text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h3>Explore, Shop, Enjoy!</h3>
        <p>
          Welcome to This shopping website, your go-to destination for an
          unparalleled shopping experience. We're dedicated to making your
          online shopping journey seamless and enjoyable.
        </p>
      </div>
      <div class="col-lg-2">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="Homepage.html">Home</a></li>
          <li><a href="Items.html">Shop</a></li>
          <li><a href="Deals.html">Deals</a></li>
          <li><a href="Contact.html">Contact</a></li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h5>Customer Support</h5>
        <p>
          Have questions or need assistance? Reach out to us at
          <a href="mailto:your-support@email.com">Example@email.com</a>.
        </p>
      </div>
      <div class="col-lg-2">
        <h5>Connect With Us</h5>
        <div class="social-icons">
          <a href="" class="text-light"><i class="bi bi-twitter-x"></i></a>
          <a href="" class="text-light"><i class="bi bi-discord"></i></a>
          <a href="" class="text-light"><i class="bi bi-facebook"></i></a>
          <a href="" class="text-light"><i class="bi bi-youtube"></i></a>
        </div>
      </div>
      <div class="col-lg-1 text-right">
        <a href="#" id="backToTopBtn" class="text-light" title="Back to Top">
          Back to Top
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            fill="currentColor"
            class="bi bi-arrow-up-circle"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"
            />
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>
