.simple-footer {
    background-color: #343a40;
    color: #6c757d;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    position: sticky;
    top: 100vh;
}

.simple-footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
    padding: 0 15px;
}

.simple-footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.simple-footer ul li {
    margin: 0 10px;
}

.simple-footer ul li a {
    color: grey; /* Grey out the link */
    pointer-events: none; /* Prevents clicking */
    cursor: default; /* Changes cursor to default to indicate it's not clickable */
}

.simple-footer ul li a:hover {
    text-decoration: underline;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .simple-footer .container {
        flex-direction: column;
    }
    
    .simple-footer ul {
        margin-top: 10px;
    }
}

