body {
    background-color: #f8f9fa;
    transition: background-color 0.5s ease; /*Transition for high contrast mode*/
}

.container-fluid {
    padding-top: 20px;
}

.sidebar {
    background-color: #343a40;
    color: #ffffff;
    transition: background-color 0.5s ease; /*Transition for high contrast mode*/
    height: 100%;
    position: fixed;
    top: 0; 
}

.nav-link {
    color: #ffffff !important;
}

.nav-link.active {
    background-color: #979595;
    border-radius: 11px 11px 11px 11px;
}

.main-content {
    background-color: #ffffff;
    padding: 20px;
    transition: background-color 0.5s ease; /*Transition for high contrast mode*/
}

h2 {
    color: #000000;
    text-decoration-line: underline;
}

.form-check-input:checked {
    background-color: #000000;
    border-color: #000000;
}

.btn-primary {
    background-color: #000000;
    border-color: #000000;
}

.btn-primary:hover {
    background-color: #808080;
    border-color: #888888;
}

/* High Contrast Mode Styles */
body.high-contrast {
    background-color: #000 !important;
    color: #ffa500 !important;
}

.sidebar.high-contrast {
    background-color: #000 !important;
    color: #ffa500 !important;
}

.main-content.high-contrast {
    background-color: #000 !important;
    color: #ffa500 !important;
}

h2.high-contrast {
    color: #ffa500 !important;
}

.btn-primary.high-contrast {
    background-color: #ffa500 !important;
    border-color: #ffa500 !important;
}

.btn-primary.high-contrast:hover {
    background-color: #ff8c00 !important;
    border-color: #ff8c00 !important;
}
/* End of high-constast styling */

/* Larger Text Styles */
body.larger-text {
    font-size: 30px;
}
/* End of larger text */